.el-card {
    cursor: grab;
}

.grabbing * {
    cursor: move !important; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grabbing !important; /* Chrome 1-21, Safari 4+ */
    cursor: -moz-grabbing !important; /* Firefox 1.5-26 */
    cursor: grabbing !important; /* W3C standards syntax, should come least */
}

.actionArea span {
    display: inline-block;
}

.actionArea {
    overflow: auto;
    white-space: nowrap;
}